.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.wrap-posts {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
}

.test {
  border: 1px solid red;
}