.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
}

main.wrap-posts {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  max-width: 64rem;
}

.load-main {
  width: 5rem;
  height: 5rem;
  margin-top: 1rem;
}

.test {
  border: 1px solid red;
}

i {
  font-size: 1em;
  cursor: pointer;
}