.post-comments {
  width: 100%;
}

.post-comments .comment-user {
  display: inline-block;
  margin-right: 0.5em;
}

.post-comments .post-time {
  font-size: 0.75em;
}

.post-comments .wrap-add-comment {
  margin-top: 1.25em;
  padding-top: 1em;
  border-top: 1px solid lightgray;
}

.post-comments .add-comment {
  width: 100%;
  border: 0;
  font-size: 1.4rem;
}