.post {
  text-align: left;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.post a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.post .user-thumb {
  width: 2em;
  height: auto;
  border-radius: 50%;
  margin: 1em;
}

.post .post-img img {
  width: 100%;
  height: auto;
}

.post .post-interact {
  margin: 0.5em 0.25em;
  display: flex;
  flex-direction: column;
}

.post .post-interact i {
  margin: 0.5em 0.25em;
}