.post {
  text-align: left;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.post .user-thumb {
  width: 2em;
  height: auto;
  border-radius: 50%;
  margin: 1em;
}

.post .post-img img {
  width: 100%;
  height: auto;
}